# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.env/
venv/
conda-env/

# Jupyter/IDE
.ipynb_checkpoints/
.idea/
.vscode/

# Data
*.csv
*.parquet
*.feather

# System
.DS_Store